.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
}

.App-logo {
  height: 80px;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  margin: 0;
}

.App-intro {
  font-size: 1.2em;
}

.App-content {
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.task-section {
  margin: 20px auto;
  width: 100%;
  text-align: left;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task {
  background-color: #fff;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task h3 {
  margin: 0;
  font-size: 1.5em;
}

.task p {
  margin: 10px 0 0;
  color: #333;
}

.input-field, .description-input, .link-input, .date-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 130px);
}

.add-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.add-button, .edit-button, .update-button, .delete-button {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover, .edit-button:hover, .update-button:hover, .delete-button:hover {
  background-color: #21a1f1;
}
